<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="content">
    <div class="row">
      <div class="col-md-4 one">Slno: {{oneBook.Slno}}</div>
      <div class="col-md-4 one">Book Name: {{oneBook.bookName}}</div>
      <div class="col-md-4 one">Author: {{oneBook.authorName | titlecase}}</div>
      <div class="col-md-4 one">Description: {{oneBook.description | titlecase}}</div>

    </div>
  </div>

</body>

</html>
