<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="bg-info">
          <h1 class= "header"  >
            Welcome to {{ title }}
          </h1>
        <button class="btn btn-primary" routerLink="/addbooks" >ADD BOOKS</button>
        <span>&nbsp;</span>
        <button class="btn btn-primary" routerLink="/listbooks" >LIST BOOKS</button>
        </div> 
        <div class="mainbody alert alert-info">
        <router-outlet></router-outlet>
        </div>
        </div> 
</body>
</html>
