<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>listbook</title>
</head>
<body>
  <div>
    <h2>List of books</h2>
  <div>
    <div *ngFor='let book of books; index as i'>
      <div>
        <app-listing-book [parentData]='book'[i]=i></app-listing-book>
      </div>
    </div>
  </div>
</div>
</body>

</html>
