<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Update Books</h2>
        <form #bookDetails="ngForm" (ngSubmit)="saveChanges()">
            <div class="form-group">
                <label >Slno : </label>
                <input type="text" class="form-control" name="Slno" placeholder="Slno" [(ngModel)]="books[i].Slno">
              </div>
          <div class="form-group">
            <label for="Book-Name">Book Name : </label>
            <input type="text" class="form-control" name="bookName" placeholder="Book Name" [(ngModel)]="books[i].bookName">
          </div>
          <div class="form-group">
              <label for="Author-Name">Author-Name: </label>
              <input type="text" class="form-control" name="authorName" placeholder="Author Name" [(ngModel)]="books[i].authorName">
            </div>
            <div class="form-group">
                <label for="Description">Description : </label>
                <input type="text" class="form-control" name="description" placeholder="Description" [(ngModel)]="books[i].description">
              </div>
              <button class="btn btn-primary" type="apply">Apply</button>
        </form>
      </div>
    
  
</body>
</html>
